@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-image: url("./assets/img/brand-generator.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}
h1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 4rem;
  height: 60%;
  margin-top: -350px;
}
