@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-image: url("./assets/img/brand-generator.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}
h1 {
  color: white;
}
